.button {
    -unity-background-scale-mode: scale-to-fit;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    height: 150px;
    width: 150px;
    display: flex;
}
